@charset "utf-8";

body{
    background-color: #eff1f6;
    
}

.container{
    background-color: white;
    font-family: 'NanumSquare', sans-serif;
}

#contenttop{
   
    border: 1px solid #dadada;
    margin-top: 5%;
    
}


.jinwoo{
    position: relative;
    top:20px;
}

ul li{
    border-right: 1px solid #dadada;
    
}

.headnav li:first-child{
    border: 0;
    background-color: #fbab60;
    padding: 4%;
    
}



.col-sm-9{
    border: 1px solid #dadada;    
}

.side{
    border: 1px solid #dadada;
    border-right: 0px;
    text-align: center;
}


.sidenav li a{
    border-bottom: 1px solid #dadada;
    font-family: 'NanumSquare', sans-serif;
}

a{
    color:#555757;
    font-size: 17px;
    
}

section{
    
    font-size: 14px;
}

.col-sm-3{
    padding: 0px;
   
}

.contents{
    border: 1px solid #dadada
}

thead{
    border-top: 2px solid #fbab60;
    
}

.far{
    color: #fbab60;
    padding-bottom: 3%;
}


.fas{
    color: #fbab60;
}

.notice span{
    
    font-size: 15px;
    float: right;
}
.faq span{
    font-size: 15px;
    float: right;
}