<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunstar.dao.CustomerDAO">
	<resultMap type="com.sunstar.dto.CustomerDTO" id="customerMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="tel" column="tel" />
		<result property="email" column="email"/>
		<result property="password" column="password" />
		<result property="address1" column="address1" />
		<result property="address2" column="address2" />
		<result property="address3" column="address3" />
		<result property="zip" column="zip" />
		<result property="enable" column="enable" />
		<result property="join_date" column="join_date" />
		<collection property="authlist" resultMap="authMap"></collection>
	</resultMap>

	<resultMap type="com.sunstar.dto.AuthDTO" id="authMap">
		<result property="id" column="id" />
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="getUserById" resultMap="customerMap" parameterType="string">
	select c.*, auth
	from customer c left join auth
	on c.id=auth.id
	where c.id=#{userid}
	</select>
	
	<select id="customeridcheck" resultType="int" parameterType="string">
	select count(*)
	from customer
	where id=#{id}
	</select>
	
	<select id="customeremailcheck" resultType="int" parameterType="string">
	select count(*)
	from customer
	<where>
    <if test="id != null">
         id = #{id}
    </if>
    <if test="email != null">
        and email = #{email}
    </if>
    <if test="name != null">
    	and name = #{name}
    </if>
	</where>
	</select>
	
	<select id="customerfindid" resultType="com.sunstar.dto.CustomerDTO" parameterType="string">
	select id, name, join_date 
	from customer
	where name = #{name} and email = #{email} 
	</select>
	
	
	<insert id="join_Customer" parameterType="com.sunstar.dto.CustomerDTO">
  	insert into customer(id, name, tel, email, password, address1, address2, address3, zip, enable, join_date)
  	values(#{id}, #{name}, #{tel}, #{email}, #{password}, #{address1}, #{address2}, #{address3}, #{zip}, #{enable}, now())
  	</insert>
  	
  	<insert id="join_Customer_auth" parameterType="com.sunstar.dto.CustomerDTO">
  	insert into auth values 
  	<foreach collection="authlist" item="item" 
  	separator=", " close=" " >
  	(#{item.id},#{item.auth})
  	</foreach>
  	</insert>
  	
  	<update id="SetNewPassowrd" parameterType="string">
  	update customer 
  	set password = #{newpw}
  	where id = #{id}
  	</update>
  	
  	<insert id="join_Seller" parameterType="string">
  			<selectKey resultType="string" keyProperty="seller_code"
			order="BEFORE">
			select Max(seller_code)+1 from seller
			</selectKey>
  	insert into seller(seller_code, id, seller_name, seller_tel, seller_email, seller_address1, seller_address2, seller_address3, 
  	seller_zip, bank, bank_no, business_license, seller_deadline, shipping_company, basic_shipping_cost, free_shipping_cost, seller_state)
  	values(#{seller_code}, #{id}, #{seller_name}, #{seller_tel}, #{seller_email}, #{seller_address1}, #{seller_address2}, #{seller_address3},
  	#{seller_zip}, #{bank}, #{bank_no}, #{business_license}, #{seller_deadline}, #{shipping_company}, #{basic_shipping_cost}, #{free_shipping_cost}, '1')
  	</insert>
  	
  	<select id="selleridcheck" parameterType="string" resultType="int">
  	select count(*)
	from seller
	where id=#{id}
  	</select>
  	
  	<!-- 셀러 권한부여 -->
  	<insert id="join_Sellerauth" parameterType="string">
  	insert into auth
  	values(#{id},'ROLE_MANAGER')
  	</insert>
  	
  	<delete id="rejectjoin_Sellerre" parameterType="string">
  	delete from seller 
  	where id = #{id}
  	</delete>
  	
  	<!-- 셀러 권한 삭제 -->
  	<delete id="delseller_auth" parameterType="string">
  	delete from auth 
  	where id= #{id} and auth ='ROLE_MANAGER'
  	</delete>
  	
  	<!-- 셀러 상태 정지or활동 변경 -->
  	<update id="updateseller_state" parameterType="string">
  	update seller
  	<set>
  		<if test="act =='stop'">
  			seller_state = '0'
  		</if>
  		<if test="act =='activity'">
  			seller_state = '1'
  		</if>
  	</set>
  	where id = #{id}
  	</update>
  	
  	<!-- 셀러 상품 비공개, 공개 변경-->
  	<update id="updatesellerproduct_state" parameterType="string">
  	update product_list p join seller s 
  	on p.seller_code = s.seller_code 
  			  	<set>
			  		<if test="act =='stop'">
			  			public_state = '0'
			  		</if>
			  		<if test="act =='activity'">
			  			public_state = '1'
			  		</if>
			  	</set>
  			where s.id = #{id}
  	</update>
</mapper>